<ion-view title="Lieus">
    <!--cube feed section-->
    <ion-content id="">
        <!--cube feed list section-->
        <div ng-repeat="venue in venues" class="">

      </div>

      <md-divider></md-divider>
      <md-subheader class="md-warn">Default List</md-subheader>
      <md-list-item class="md-list-item-default" ng-click="doSomeThing()">
          <p>Data Row 1</p>
          <p>Data Row 1</p>
      </md-list-item>
      <md-list-item class="md-list-item-default" ng-click="doSomeThing()">
        <p>Data Row 1</p>
      </md-list-item>
      <md-list-item class="md-list-item-default" ng-click="doSomeThing()">
          <i class="ion-android-create"></i>
          <p>Data Row 3</p>
      </md-list-item>
      <md-divider></md-divider>

    </ion-content><!--end cube feed section-->
</ion-view>
